* {
	font-family: Open Sans !important;
 
}


@media (max-width: 979px) {
  body {
    padding-top: 50px;
  }
}

body {
	padding-top: 45px;
}

 

.navbar {
	font-size: 1.1em;
	background-color: rgba(5,56,107,.9);
    margin: 0;
    border: 0;

}

.navbar-default .navbar-nav>li>a {
    color: #EDF5E1;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #EDF5E1;
}
 
.nav_useroptions{
	padding-top: 10px;
	 
}

/*Styling for index.php*/

	.part1 {
	background-image: url(../images/6.jpg);
 	background-size: 100%;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	height: 960px;
	}

	.part1 .myjumbotron {
		padding-top: 10%;
	}

	.jumbotron {
		background-color: rgba(0, 0, 0, .5);
	}

	.jumbotron h1,p {
		color:	#EDF5E1 ;
	}


    .part2 {
    	background-color: #fff;
    	padding: 40px;
    }


	.part2 .inside hr{
		height: 1px;
		color: #123455;
		background-color: #123455;
		border: none;
		width: 75%;
	}



	.part2 .inside .writing p{
		color: #05386B !important;
		text-align: justify;
		font-size: 1.2em;
	}
	
	.part2 .inside .row {
		padding: 40px;

	}

	.part3 {
 
 		height: 250px;
	 	padding: 100px 50px 50px 50px;
	}

	.part3 .buttons {
		padding-bottom: 15px;
	}



	.part4 .top
    {
background: rgba(41,184,229,1);
background: -moz-linear-gradient(top, rgba(41,184,229,1) 0%, rgba(41,184,229,1) 2%, rgba(179,220,237,1) 40%, rgba(249,252,254,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(41,184,229,1)), color-stop(2%, rgba(41,184,229,1)), color-stop(40%, rgba(179,220,237,1)), color-stop(100%, rgba(249,252,254,1)));
background: -webkit-linear-gradient(top, rgba(41,184,229,1) 0%, rgba(41,184,229,1) 2%, rgba(179,220,237,1) 40%, rgba(249,252,254,1) 100%);
background: -o-linear-gradient(top, rgba(41,184,229,1) 0%, rgba(41,184,229,1) 2%, rgba(179,220,237,1) 40%, rgba(249,252,254,1) 100%);
background: -ms-linear-gradient(top, rgba(41,184,229,1) 0%, rgba(41,184,229,1) 2%, rgba(179,220,237,1) 40%, rgba(249,252,254,1) 100%);
background: linear-gradient(to bottom, rgba(41,184,229,1) 0%, rgba(41,184,229,1) 2%, rgba(179,220,237,1) 40%, rgba(249,252,254,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29b8e5', endColorstr='#f9fcfe', GradientType=0 );
	}

	.part4 .caption .thumbnail_p{
		color: #05386B;
		font-size: .9em;
		text-align: justify;
		padding: 10px;
	}
        
	.part4 .thumbnail>img {
		width: 356px; 
		height: 280px;
		min-height: 200px;
		min-width: 242px;
	}
        
/* unknow code hmm
{
      
             .scan .screen>img
              {
                  border: 100px;
                  width: 411px; 
                  height: 731px;
                  min-height: 200px;
                  min-width: 242px;
              }
              
              .scan_btn
              {
                  padding-left: 41.5%;
                  padding-bottom: 75px;
              }
              
              .scan
              {
                  padding-top: 75px;
                  padding-left: 40%;
                  margin: 0 auto;
                  width: 100%
              }
              
              .scan .center-div
              {
                  margin: 0 auto;
                  width: 100%
              }
              
              .scan .center-div .caption
              {
                  
                  padding-left: 250px;
              }
              
              .scan_again
              {
                  padding-top: 75px;
                  padding-bottom: 75px;
                  margin: 0 auto;
                  width: 100%
              }
              
              .scan1
              {
                  padding-left: 165px;
              }
              
              .tag
              {
                  padding-top: 75px;
                  padding-bottom: 75px;
              }
}  */   


	.part5 .jumbotron {
		background-color: #eceeef !important;
		padding-top: 20px;
	}

	.part5 .beach_h{
		color:  #05386B;
	}


	.part6 .row {
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.part6 hr{
		height: 1px;
		color: #123455;
		background-color: #123455;
		border: none;
		width: 85%;
	}
 
	.part7 {
		background-color: #eee	;
		padding-bottom: 50px; 
		padding-top: 50px;"
	}

	.part7 .mainstuff{
		background-color: #fff; 
		width: 650px;
		margin: 0 auto; 
		border-radius: 15px; 
		box-shadow: 5px 5px #C0C0C0;
		padding-top: 20px;
		padding-bottom: 20px;
		
		margin-bottom: 70px;
	}

	.part7 .f_row{
		padding-top: 10px;
		padding-bottom: 20px;
	}

	.part7 .u_names{
		background-color: #eee;
		font-size: 1.1em;
		border: none;
		padding: 10px;
	}

	.part7 .tag_buy_table {
		padding: 5px;
	}



	.inputWithIcon input[type=text], input[type=email], input[type=password], input[type=tel]{
		padding-left: 20px;
		padding-top: 7px;
		padding-bottom: 7px;
		background-color: #eee;
		border: none;
 		border-bottom: 1px solid rgba(0,0,0, .1);
 		font-size: 1.2em;
	}

	.inputWithIcon{
		line-height: 25px;
		position:relative;
		padding-bottom: 15px;
	}

	#content .icon {
		display: inline-block;
		font-size:1.3em;
	}

  	.part8 .thumbnail>img {
		width: 235px; 
		height: 200px;
		min-height: 200px;
		min-width: 235px;
	}


input#search-bar{
  margin: 0 auto;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  font-size: 1.4rem;
  border: 1px solid #D0CFCE;
  border-radius: 30px;
  outline: none;
  &:focus{
    border: 1px solid #008ABF;
    transition: 0.35s ease;
    color: #008ABF;
    &::-webkit-input-placeholder{
      transition: opacity 0.45s ease; 
  	  opacity: 0;
     }
    &::-moz-placeholder {
      transition: opacity 0.45s ease; 
  	  opacity: 0;
     }
    &:-ms-placeholder {
     transition: opacity 0.45s ease; 
  	 opacity: 0;
     }    
   }
 }

.search-icon{
  position: relative;
  float: right;
  width: 75px;
  height: 75px;
  top: -62px;
  right: -5px;
}

.clearflix {
  overflow: hidden;
}

/*gallery thumbnail*/

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 250px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

div.button
{
    padding-left: 50px;
    text-align: center;
}
/* footer code styling from https://bootsnipp.com/snippets/featured/e-commerce-footer-responsive*/
.full {
    width: 100%;	
}
.gap {
	height: 30px;
	width: 100%;
	clear: both;
	display: block;
}
.footer {
	background-color: #05386B;
	height: auto;
	padding-bottom: 30px;
	position: relative;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #DDDDDD;
	color: #EDF5E1 !important; 
}
.footer p {
	margin: 0;
}
.footer img {
	max-width: 100%;
}
.footer h3 {
	border-bottom: 1px solid #BAC1C8;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	padding: 40px 0 10px;
	text-transform: uppercase;
}
.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 15px;
}

.footer ul li a {
	padding: 0 0 5px 0;
	display: block;	color: #EDF5E1 !important; 
}
 
.supportLi h4 {
	font-size: 20px;
	font-weight: lighter;
	line-height: normal;
	margin-bottom: 0 !important;
	padding-bottom: 0;
}
.newsletter-box input#appendedInputButton {
	background: #FFFFFF;
	display: inline-block;
	float: left;
	height: 30px;
	clear: both;
	width: 100%;
}
.newsletter-box .btn {
	border: medium none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
	height: 40px;
	padding: 0;
	width: 100%;
}

.newsletter-box {
	overflow: hidden;
}
.bg-gray {
	background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
	box-shadow: 0 1px 0 #B4B3B3;
}
.social li {
 
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	float: left;
	height: 36px;
	line-height: 36px;
	margin: 0 8px 0 0;
	padding: 0;
	text-align: center;
	width: 36px;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}
.social li:hover {
	transform: scale(1.15) rotate(360deg);
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
}
 
.social li a i {
	font-size: 16px;
	margin: 0 0 0 5px;
}
.footer-bottom {
 
	border-top: 1px solid #DDDDDD;
	padding-top: 10px;
	padding-bottom: 10px;
}
.footer-bottom p.pull-left {
	padding-top: 6px;
}
 